body{
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

    font-family: 'Poppins', sans-serif;
}

.container{
    margin: 0 10%;
}

/* header design starts */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar>nav>a{
    color: black;
    text-decoration: none;
    margin-left: 15px;
}

/* header design ends */

/* first section design starts */

.first-section{
    display: flex;
    justify-content: center;
    margin: 3em 0;
}

.half{
    width: 50%;
}

.first-half{
    margin-top: 5%;
}

.half>h1{
    font-size: 50px;
    margin: 0;
}

.half>a{
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-color: rgb(224, 44, 109);
    padding: 8px 15px;
    border-radius: 20px;
}

.half>img{
    width: 70%;
    margin-left: 25%;
}

/* first section design ends */


/* logo design starts */

.logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* logo design ends */