body{
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

    font-family: 'Poppins', sans-serif;
}

.container{
    margin: 0 10%;
}

/* header design starts */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar>nav>a{
    color: black;
    text-decoration: none;
    margin-left: 15px;
}


/* header design ends */